@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #faedcd;
    color: #c1121f;
    font-size: 32px;
}


.kinetic{
    position: relative;
    width: 80px;
    height: 80px;
}


.kinetic::after, .kinetic::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0;
    width: 0;
    border: 50px solid transparent;
    border-radius: 50%;
    border-bottom-color: #c1121f;
    animation: rotateA 2s linear infinite 0.5s;
}

.kinetic::before{
    animation: rotateB 2s linear infinite;
}

@keyframes rotateA{
    0%,
    25%{
        transform: rotate(0deg);
    }
    50%,
    75%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotateB{
    0%,
    25%{
        transform: rotate(90deg);
    }
    50%,
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(450deg);
    }
}

span{
    position: absolute;
    top: 110px;
    left: 15px;
}